trigger: none

stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      name: 'testpool'
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'

    - task: Npm@1
      inputs:
        command: 'custom'
        customCommand: 'install -D tailwindcss postcss autoprefixer'

    - task: Npm@1
      inputs:
        command: 'custom'
        customCommand: 'run build'
    - task: ArchiveFiles@2
      displayName: ' Zip dist folder'
      inputs:
        rootFolderOrFile: 'dist'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/reactapp.zip'
        replaceExistingArchive: true
              
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'react-build'
       